@tailwind base;
@tailwind components;
@tailwind utilities;

.debug, .debug * {
    border: 1px solid red;
    background: rgba(255, 0, 255, 0.04);
}
@media print {
    input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    }
}